<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <% for(var i=0; i<schema.length; i++) {%>
     <div>
      <div><%= schema[i].question %></div>
      <input type = "radio"  class="radio" id = "answer" name = "A" value="A checked"> A:<%= schema[i].A %> </input> <br>
       <input type = "radio" class="radio" id = "answer" name = "A" value="B"> B:<%= schema[i].B %> </input> <br>
       <input type = "radio"  class="radio" id = "answer" name = "A" value="C"> C:<%= schema[i].C %> </input> <br>
       <input type = "radio"  class="radio" id = "answer" name = "A" value="D"> D:<%= schema[i].D %> </input> <br>

     </div>


  <input type="submit" onclick = "submit()">
     <% } %>

  <script>
      function submit(){
       var inputs = document.getElementsByClassName("radio");
          for (var i=0; i<inputs.length; i++){
              if(inputs[i].checked === true){
                  alert(inputs[i].value);
              }
          }

      }
  </script>


  </body>
</html>
